body { font-family: sans-serif; }

#playground {
  background: black;
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.score {
  font-size: 1.5em;
  margin-bottom: 1%;
}

#ball {
  background: yellow;
  position: absolute;
  left: -100px;
  top: -100px;
  border-radius: 0px;
}

.racket {
  background: yellow;
  left: -100px;
  top: -100px;
  position: absolute;
}

#start-message, #countdown {
  color: yellow;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;
  font-weight: bold;
}


#game-over, #pause-message {
  color: black;
  background-color: red;
  position:absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;
  font-weight: bold;
}


#game-over, #pause-message, #countdown { display: none; }